[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.2.1"
psycopg2 = "==2.8.6"
markdown = "*"

[requires]
python_version = "3.6.7"
